.rhap_container {
  background-color: transparent;
  box-shadow: none;
}
.rhap_container * {
  color: white;
}

.rhap_controls-section {
  flex-direction: column;
}
.rhap_volume-controls {
  width: 30%;
  margin-top: 20px;
  justify-content: center;
}
.rhap_volume-container {
  flex-direction: column;
}

.rhap_progress-indicator {
  background-color: white;
}
.rhap_progress-filled {
  background-color: #ffb206;
}
.rhap_volume-indicator {
  background-color: white;
}
.rhap_volume-button {
  margin: 5px;
}
