@import url('http://fonts.googleapis.com/css?family=Lato:400,700');

body {
  font-family: "Lato", sans-serif;
  //background: #383838 url('../../assets/images/background/picture-3.gif') no-repeat center center fixed;
  background-color: #000000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  height: 100vh;

  #root{
    width: 100vw;
    height: 100vh;

    .container {
      display: flex;
      width: 100vw;
      height: 100vh;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }
  }

  h1 {
    color: white;
  }
}
